HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
/src/main/resources/application.properties
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
rag/.env

rag/__pycache__/
rag/*.pyc

rag/venv/
rag/env/
rag/*.db
rag/chroma_db/
rag/faiss_index/

.env

SmartHire_frontend/node_modules/


# Application properties sensibles
src/main/resources/application-prod.properties
src/main/resources/application-local.properties
